.updateProfile
{
    text-align: center;
    background-color: $color15;
}

.updateProfile h1
{
    font-size: 24px;
    font-weight: 700;
    color: $color6;
}

.updateProfile p
{
    font-size: 18px;
    font-weight: 500;
    color: $color6;
}



.userName
{
    padding: 8px;
    font-size: 16px;
    border-width: 1px;
    border-color: $color9;
    background-color: $color10;
    color: $color11;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 0px 3px $color12;
    text-shadow: 0px 0px 0px $color12;
    margin-bottom: 5px;
    width: 200px;
}

.birthday
{
    padding: 8px;
    font-size: 16px;
    border-width: 1px;
    border-color: $color9;
    background-color: $color10;
    color: $color11;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 0px 3px $color12;
    text-shadow: 0px 0px 0px $color12;
    margin-bottom: 5px;
}

.email
{
    padding: 8px;
    font-size: 16px;
    border-width: 1px;
    border-color: $color9;
    background-color: $color10;
    color: $color11;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 0px 3px $color12;
    text-shadow: 0px 0px 0px $color12;
    margin-bottom: 5px;
    width: 300px;
}