.centered {
    margin: auto;
}

.searchResults {

    tbody {
        td, th {
            text-align: center;
            vertical-align: middle;

            img {
                width: 9.375rem;
            }
        }

        th {
            margin: 10px;
        }

        td {
            table {
                margin: auto;

                td {
                    padding: 5px;
                }

            }

            button {
                width: 100%;
                
            }
        }

    }
}

input, select {
    padding: 0.5rem;
    
    border-width: 0.1rem;
    border-color: $main;
    background-color: $field;
    color: $color11;
    border-style: solid;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.3rem $color12;
    text-shadow: 0rem 0rem 0rem $color12;
    margin-bottom: 0.2rem;
}

#nameInput {
    background-color: $field;
    width: 100%;
    padding: 0.7rem 0.2rem;
    float: left;
    color: $main;
    border: 0;
    border-radius: 3px 0 0 3px;
    &:focus {
      outline: 0;
    }
}

#genreInput {
    margin-right: 5px;
}

#resultsPending {
    margin: auto;
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

#searchButton {
    margin: auto;
    width: 75%;
    display: block;
    padding: 2px;
}

.searchResults
{
    color: $main;
    font-weight: 800%; 
    font-size: 1.4rem; 
    letter-spacing: 0.1rem;
    line-height: 1.7rem; 
    width: 98%;
}
.searchResults tr
{
    background: $back;
}

.title {
    font-size: 2rem;
}

