.centered {
    margin: auto;
}

.searchResults {

    tbody {
        td, th {
            text-align: center;
            vertical-align: middle;

            img {
                width: 150px;
            }
        }

        th {
            margin: 10px;
        }

        td {
            table {
                margin: auto;

                td {
                    padding: 5px;
                }

            }

            button {
                width: 100%;
                font-size: 15px;
            }
        }

    }
}

input, select {
    padding: 8px;
    font-size: 16px;
    border-width: 1px;
    border-color: $color9;
    background-color: $color10;
    color: $color11;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 0px 3px $color12;
    text-shadow: 0px 0px 0px $color12;
    margin-bottom: 5px;
}

#nameInput {
    background-color: $color13;
    width: 100%;
    padding: 10px 5px;
    float: left;
    color: $color9;
    border: 0;
    border-radius: 3px 0 0 3px;
    &:focus {
      outline: 0;
    }
}

#genreInput {
    margin-right: 5px;
}

#resultsPending {
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

#searchButton {
    margin: auto;
    width: 75%;
    display: block;
    padding: 2px;
}

.searchResults
{
    color: $color10;
    font-weight: 800%; 
    font-size: 19px; 
    letter-spacing: 2.0px;
    line-height: 24px; 
}
.searchResults tr
{
    background: $color15;
}