.updateProfile {
  text-align: center;
  background-color: #070026;
}

.updateProfile h1, h2 {
  font-size: 24px;
  font-weight: 700;
  color: #00ffa2;
}

.updateProfile h3 {
  font-size: 22px;
  font-weight: 700;
  color: #00ffa2;
}

.updateProfile h4 {
  font-size: 20px;
  font-weight: 700;
  color: #00ffa2;
}

.updateProfile p, li {
  font-size: 18px;
  font-weight: 500;
  color: #00ffa2;
}

.updateProfile a {
  font-size: 18px;
  font-weight: 500;
  color: rgb(224, 54, 97);
}

.updateProfile input {
  background: #4024bd;
  color: #00ffa2;
  width: 200px !important;
  height: 30px !important;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 24px;
  padding: 1px 2px;
  border-radius: 9px;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.7490196078);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.7490196078);
  margin-bottom: 5px;
}
.updateProfile input:hover {
  background: #070026;
}

.userName {
  padding: 8px;
  font-size: 16px;
  border-width: 1px;
  border-color: #00ffa2;
  background-color: rgba(255, 255, 255, 0.8980392157);
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.7490196078);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.7490196078);
  margin-bottom: 5px;
  width: 200px;
}

.birthday {
  padding: 8px;
  font-size: 16px;
  border-width: 1px;
  border-color: #00ffa2;
  background-color: rgba(255, 255, 255, 0.8980392157);
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.7490196078);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.7490196078);
  margin-bottom: 5px;
}

.email {
  padding: 8px;
  font-size: 16px;
  border-width: 1px;
  border-color: #00ffa2;
  background-color: rgba(255, 255, 255, 0.8980392157);
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.7490196078);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.7490196078);
  margin-bottom: 5px;
  width: 300px;
}

.centered {
  margin: auto;
}

.searchResults tbody td, .searchResults tbody th {
  text-align: center;
  vertical-align: middle;
}
.searchResults tbody td img, .searchResults tbody th img {
  width: 9.375rem;
}
.searchResults tbody th {
  margin: 10px;
}
.searchResults tbody td table {
  margin: auto;
}
.searchResults tbody td table td {
  padding: 5px;
}
.searchResults tbody td button {
  width: 100%;
}

input, select {
  padding: 0.5rem;
  border-width: 0.1rem;
  border-color: #273E47;
  background-color: rgba(0, 0, 0, 0.7);
  color: #000000;
  border-style: solid;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.3rem rgba(66, 66, 66, 0.7490196078);
  text-shadow: 0rem 0rem 0rem rgba(66, 66, 66, 0.7490196078);
  margin-bottom: 0.2rem;
}

#nameInput {
  background-color: rgba(0, 0, 0, 0.7);
  width: 90%;
  padding: 0.7rem 0.2rem;
  float: center;
  color: #00ffa2;
  border: 0;
  border-radius: 3px 0 0 3px;
}
#nameInput:focus {
  outline: 0;
}

#genreInput {
  margin-right: 5px;
}

#resultsPending {
  margin: auto;
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
}

#searchButton {
  margin: auto;
  width: 75%;
  display: block;
  padding: 2px;
}

.searchResults {
  color: #00ffa2;
  font-weight: 800%;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  width: 98%;
}

.searchResults tr {
  background: #070026;
}

.title {
  font-size: 2rem;
}

.title {
  text-align: center;
}

.radio_item {
  display: none !important;
}

.label_item {
  opacity: 1;
}

.radio_item:checked + label ~ label {
  opacity: 0.4;
}/*# sourceMappingURL=all.css.map */