header h1, h2{
    text-align: center;
    font-size: 2rem;
}

header h4 {
    text-align: center;
    font-size: 1.5rem;
}

.cta {
    font-weight: 800;
    font-size: 1.9rem;
    letter-spacing: 0.15rem;

    h1, h2, h3, h4 {
        margin-bottom: 0.5rem;
    }
}
