$color1: #8D909B;

$color2: #272727;

$color3: #D8973C;

$color4: #BD632F;

$color5: #273E47;

$color6: #7cb9d1;

$color7: #1C6EA4;

$color8: #080808;

$color9: #CCCCCC;

$color10: #FFFFFF;

$color11: #000000;

$color12: #424242bf;

$color13: rgba(76, 0, 255, 0.1);

$color14: rgba(76, 0, 255, 0.5);

$backgroundImage: './../assets/background.jpg';