*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html {
  font-family: "Courier New", Courier, monospace;
  color: #75d83c;
}

body {
  background-image: url("./../assets/background.jpg");
}

.searchButton {
  display: inline-block;
  color: #7cb9d1;
  font-weight: 800%;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 24px;
  padding: 1px 2px;
  border-radius: 9px;
  background: rgba(76, 0, 255, 0.5);
  width: 100px !important;
  height: 40px !important;
}

button:hover {
  background: rgba(76, 0, 255, 0.1);
  color: #7cb9d1;
}

button:active {
  background: #7cb9d1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(76, 0, 255, 0.1) !important;
  color: #1C6EA4 !important;
  width: 75% !important;
}

.addRemoveButton {
  color: #FFFFFF;
}

.recommendationButton {
  color: #000000;
}

.navigation {
  background-image: url("./../assets/background.jpg");
  overflow: hidden;
}

.navigation a {
  float: right;
  color: #7cb9d1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 2px;
  word-spacing: 2.4px;
}

.navigation a:hover {
  background-color: #1C6EA4;
  color: #CCCCCC;
}

.navigation a:active {
  background-color: #7cb9d1;
  color: #8D909B;
}

.header {
  background-image: url("./../assets/background.jpg");
  color: #7cb9d1;
}

.header h1 {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 3.2px;
  word-spacing: 2.4px;
  margin-bottom: 30px;
  text-align: center;
  font-variant: small-caps;
}

.header hr {
  background-color: #080808;
}

.centered {
  margin: auto;
}

.searchResults tbody td, .searchResults tbody th {
  text-align: center;
  vertical-align: middle;
}
.searchResults tbody td img, .searchResults tbody th img {
  width: 150px;
}
.searchResults tbody th {
  margin: 10px;
}
.searchResults tbody td table {
  margin: auto;
}
.searchResults tbody td table td {
  padding: 5px;
}
.searchResults tbody td button {
  width: 100%;
  font-size: 15px;
}

input, select {
  padding: 8px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.7490196078);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.7490196078);
  margin-bottom: 5px;
}

#nameInput {
  background-color: rgba(76, 0, 255, 0.1);
  width: 100%;
  padding: 10px 5px;
  float: left;
  color: #CCCCCC;
  border: 0;
  border-radius: 3px 0 0 3px;
}
#nameInput:focus {
  outline: 0;
}

#genreInput {
  margin-right: 5px;
}

#resultsPending {
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

#searchButton {
  margin: auto;
  width: 75%;
  display: block;
  padding: 2px;
}

.searchResults {
  color: #FFFFFF;
  font-weight: 800%;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 24px;
}

.searchResults tr {
  background: rgba(0, 0, 0, 0.7);
}/*# sourceMappingURL=main.css.map */