*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  background: #8D909B;
}

button {
  color: #080808;
  font-size: 19px;
  line-height: 19px;
  padding: 10px;
  border-radius: 9px;
  background-image: linear-gradient(to right, #273E47 0%, #7cb9d1 37%, #8D909B 100%);
  border: 2px solid #273E47;
  display: inline-block;
}

button:hover {
  background: #272727;
  color: #8D909B;
}

button:active {
  background: #7cb9d1;
}

.navigation {
  background-color: #D8973C;
  overflow: hidden;
}

.navigation a {
  float: right;
  color: #272727;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #BD632F;
  color: #8D909B;
}

.navigation a:active {
  background-color: #273E47;
  color: #8D909B;
}

.header {
  background-color: #273E47;
  color: #D8973C;
}

.header h1 {
  font-size: 80px;
  margin-bottom: 30px;
  text-align: center;
}

.header hr {
  background-color: #8D909B;
}

.centered {
  margin: auto;
}

.searchResults tbody td, .searchResults tbody th {
  text-align: center;
  vertical-align: middle;
}
.searchResults tbody td img, .searchResults tbody th img {
  width: 150px;
}
.searchResults tbody th {
  margin: 10px;
}
.searchResults tbody td table {
  margin: auto;
}
.searchResults tbody td table td {
  padding: 5px;
}
.searchResults tbody td button {
  width: 100%;
  font-size: 15px;
}

input, select {
  padding: 8px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.7490196078);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.7490196078);
  margin-bottom: 5px;
}

#nameInput {
  width: 100%;
  padding: 10px 5px;
  float: left;
  color: #CCCCCC;
  border: 0;
  border-radius: 3px 0 0 3px;
}
#nameInput:focus {
  outline: 0;
}

#genreInput {
  margin-right: 5px;
}

#resultsPending {
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

#searchButton {
  margin: auto;
  width: 75%;
  display: block;
  padding: 2px;
}/*# sourceMappingURL=main.css.map */