@import "../abstracts/variables";

// body {
//     background-image: url($image);
// }
.bg-image {    
    background: url($image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  .content {
    position: absolute;
    left: 50%; 
    margin-top: 0rem;
    transform: translateX(-50%);
    width: 100%;
  }