.header {
    background: $back;
    color: $main;
}
.header h1 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 3.2px;
    word-spacing: 2.4px;
	margin-bottom: 30px;
    text-align: center;
    font-variant: small-caps;
}
.header hr {
    background-color: $color8;
}

.resultsHeader {
    font-size: 2rem;
}