@import "../abstracts/variables";

.navigation {
    background-image: $back;
    overflow: hidden;
}

.navigation a, .navigation p {
    float: right;
    color: $main;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 550;
    letter-spacing: 0.125rem;
    word-spacing: 0.15rem;
}

.navigation a:hover {
    background-color: $notice;
    color: $main;
}

.navigation a:active {
    background-color: $main;
    color: $color1;
}
