@import "../abstracts/variables";

.navigation {
    background-image: $back;
    // overflow: hidden;
}

.navigation a, .navigation p {
    float: right;
    color: $main;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 550;
    letter-spacing: 0.125rem;
    word-spacing: 0.15rem;
}

.navigation a:hover {
    background-color: $notice;
    color: $main;
}

.navigation a:active {
    background-color: $main;
    color: $color1;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .menu-dropdown,
  .profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .menu,
  .profile {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 0rem;
    width: 15rem;
    padding: 1rem;
    background-color: $back;
    box-shadow: 0rem 0.5rem 1rem 0rem $color15;
    z-index: 1;
  }
  .menu {
    left: 1rem;
  }

  .menu li,
  .profile li {
    margin-bottom: 1rem;
  }
  
  
  .menu-btn:focus,
  .profile-btn:focus {
    outline: none;
  }
  
  .menu-dropdown:hover .menu,
  .menu-dropdown:focus-within .menu {
    display: block;
  }
  
  .profile-dropdown:hover .profile,
  .profile-dropdown:focus-within .profile {
    display: block;
  }