<!DOCTYPE html>
<html>
    <head>
        <title>Play This</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="navigation">
            <a href="{{ url_for('searchPage.searchPage') }}">Search</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('loginPage.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('recommendationPage.recommendationPage') }}">Recommendations</a>
            <a href="{{ url_for('gameLibrary.game_library') }}">Game Library</a>
            <a href="{{ url_for('userWishlist.wishlist') }}">Wishlist</a>
            <a href="{{ url_for('userProfile.profile', user_name=current_user.user_name) }}">{{current_user.user_name}}</a>
            <a href="{{ url_for('loginPage.logout') }}">Logout</a>
            {% endif %}
        </div>
        <div class="header">
            <h1 class="title">Play This</h1>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        
            {% for message in messages %}
            <h1 id="alert">{{ message }}</h1>
            {% endfor %}
        
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>