<!DOCTYPE html>
<html>
    <head>
        <title>Play This</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class="navigation">
            <a href="{{ url_for('searchPage.searchPage') }}">Search</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('loginPage.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('userProfile.profile') }}">{{current_user.username}}</a>
            <a href="{{ url_for('loginPage.logout') }}">Logout</a>
            {% endif %}
        </div>
        <div class="header">
            <hr>
            <h1 class="title">Play This</h1>
            <hr>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        
            {% for message in messages %}
            <h1 id="alert">{{ message }}</h1>
            {% endfor %}
        
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>