<!DOCTYPE html>
<html>
    <head>
        <title>Play This</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <h1>Play This!</h1>
        <div id="link-header">
            <!--If there is no user defined/no current session-->
            <a href="/login">Login</a>
            <!--Insert fuctonality for user account info 
            once login is successfull-->
        </div>
        {% block content %}{% endblock %}
    </body>
</html>