{% extends "base.html" %}

{% block content %}
<!--this could be made into a tab in the user profile page in css-->

    <style>
        .box_art {
            width: 100px;
        }
    </style>
    <h3>Game Library</h3>
    <div class="col" id="library">
        
       {% for game in game_list %}
        <div class="col__item" >
            {% if game.cover %}
                <!-- Cover art for the game -->
                <img class="box_art" src="{{ "https://images.igdb.com/igdb/image/upload/t_cover_small/" ~ game.cover ~ ".jpg" }}">
            {% else %}
                <img class="box_art" src="https://t4.ftcdn.net/jpg/00/89/55/15/360_F_89551596_LdHAZRwz3i4EM4J0NHNHy2hEUYDfXc0j.jpg">
            {% endif %}<br>
            <h4>{{ game.title }}</h4>
            <br>
            <p>Hours Played: </p><br>
            <p>Rating: </p><br>
            <form action="#" method="POST">
                <input class="addRemoveButton" type="submit" name={{ game.id }} value="Remove from Library">
                </form>
                <br><br>
        </div>

        {% endfor %}
    </div>



{% endblock %}