{% extends 'base.html' %}

{% block content %}

    <div>
        <h2>Login to Your Account</h2>
        <form id="login">
            <label for="user">Username:</label>
            <input type="text" placeholder="Enter Username" id="user" required>
            <label for="pass">Email:</label>
            <input type="text" placeholder="Enter Password" id="pass" required>
            <button type="submit" class="register">Login</button>
        </form>
		
		<br>
		<a href='./newaccount'>Create Account</a>
    </div>



{% endblock %}