{% extends "base.html" %}

{% block content %}
<section class="updateProfile">
    <h1>Log In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_name.label }}<br>
            {{ form.user_name(size=32) }}<br>
            {% for error in form.user_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('updatePassword.updatePasswordPage') }}">Forgot My Password</a>
    <p>New User? <a href="{{ url_for('newAccount.newAccountPage') }}">Click to Register!</a></p>
</section>
{% endblock %}