	<option value="any">Any Platform</option>
	<option value="139">1292 Advanced Programmable Video System</option>
	<option value="50">3DO Interactive Multiplayer</option>
	<option value="116">Acorn Archimedes</option>
	<option value="134">Acorn Electron</option>
	<option value="389">AirConsole</option>
	<option value="132">Amazon Fire TV</option>
	<option value="16">Amiga</option>
	<option value="114">Amiga CD32</option>
	<option value="25">Amstrad CPC</option>
	<option value="154">Amstrad PCW</option>
	<option value="100">Analogue electronics</option>
	<option value="34">Android</option>
	<option value="75">Apple II</option>
	<option value="115">Apple IIGS</option>
	<option value="52">Arcade</option>
	<option value="438">Arduboy</option>
	<option value="59">Atari 2600</option>
	<option value="66">Atari 5200</option>
	<option value="60">Atari 7800</option>
	<option value="65">Atari 8-bit</option>
	<option value="62">Atari Jaguar</option>
	<option value="410">Atari Jaguar CD</option>
	<option value="61">Atari Lynx</option>
	<option value="63">Atari ST/STE</option>
	<option value="140">AY-3-8500</option>
	<option value="145">AY-3-8603</option>
	<option value="146">AY-3-8605</option>
	<option value="147">AY-3-8606</option>
	<option value="148">AY-3-8607</option>
	<option value="141">AY-3-8610</option>
	<option value="144">AY-3-8710</option>
	<option value="143">AY-3-8760</option>
	<option value="91">Bally Astrocade</option>
	<option value="69">BBC Microcomputer System</option>
	<option value="73">BlackBerry OS</option>
	<option value="239">Blu-ray Player</option>
	<option value="107">Call-A-Computer time-shared mainframe computer system</option>
	<option value="380">Casio Loopy</option>
	<option value="109">CDC Cyber 70</option>
	<option value="68">ColecoVision</option>
	<option value="93">Commodore 16</option>
	<option value="15">Commodore C64/128/MAX</option>
	<option value="158">Commodore CDTV</option>
	<option value="90">Commodore PET</option>
	<option value="94">Commodore Plus/4</option>
	<option value="71">Commodore VIC-20</option>
	<option value="164">Daydream</option>
	<option value="98">DEC GT40</option>
	<option value="85">Donner Model 30</option>
	<option value="13">DOS</option>
	<option value="153">Dragon 32/64</option>
	<option value="23">Dreamcast</option>
	<option value="203">DUPLICATE Stadia</option>
	<option value="238">DVD Player</option>
	<option value="102">EDSAC</option>
	<option value="375">Epoch Cassette Vision</option>
	<option value="376">Epoch Super Cassette Vision</option>
	<option value="309">Evercade</option>
	<option value="236">Exidy Sorcerer</option>
	<option value="127">Fairchild Channel F</option>
	<option value="99">Family Computer</option>
	<option value="51">Family Computer Disk System</option>
	<option value="101">Ferranti Nimrod Computer</option>
	<option value="152">FM-7</option>
	<option value="118">FM Towns</option>
	<option value="378">Gamate</option>
	<option value="33">Game Boy</option>
	<option value="24">Game Boy Advance</option>
	<option value="22">Game Boy Color</option>
	<option value="379">Game.com</option>
	<option value="307">Game & Watch</option>
	<option value="388">Gear VR</option>
	<option value="170">Google Stadia</option>
	<option value="411">Handheld Electronic LCD</option>
	<option value="104">HP 2100</option>
	<option value="105">HP 3000</option>
	<option value="135">Hyper Neo Geo 64</option>
	<option value="407">HyperScan</option>
	<option value="111">Imlac PDS-1</option>
	<option value="67">Intellivision</option>
	<option value="382">Intellivision Amico</option>
	<option value="39">iOS</option>
	<option value="412">Leapster</option>
	<option value="413">Leapster Explorer/LeadPad Explorer</option>
	<option value="414">LeapTV</option>
	<option value="409">Legacy Computer</option>
	<option value="55">Legacy Mobile Device</option>
	<option value="3">Linux</option>
	<option value="14">Mac</option>
	<option value="408">Mega Duck/Cougar Boy</option>
	<option value="386">Meta Quest 2</option>
	<option value="112">Microcomputer</option>
	<option value="89">Microvision</option>
	<option value="27">MSX</option>
	<option value="53">MSX2</option>
	<option value="157">NEC PC-6000 Series</option>
	<option value="80">Neo Geo AES</option>
	<option value="136">Neo Geo CD</option>
	<option value="79">Neo Geo MVS</option>
	<option value="119">Neo Geo Pocket</option>
	<option value="120">Neo Geo Pocket Color</option>
	<option value="137">New Nintendo 3DS</option>
	<option value="42">N-Gage</option>
	<option value="37">Nintendo 3DS</option>
	<option value="4">Nintendo 64</option>
	<option value="416">Nintendo 64DD</option>
	<option value="20">Nintendo DS</option>
	<option value="159">Nintendo DSi</option>
	<option value="18">Nintendo Entertainment System</option>
	<option value="21">Nintendo GameCube</option>
	<option value="131">Nintendo PlayStation</option>
	<option value="130">Nintendo Switch</option>
	<option value="122">Nuon</option>
	<option value="387">Oculus Go</option>
	<option value="384">Oculus Quest</option>
	<option value="385">Oculus Rift</option>
	<option value="162">Oculus VR</option>
	<option value="88">Odyssey</option>
	<option value="133">Odyssey 2 / Videopac G7000</option>
	<option value="113">OnLive Game System</option>
	<option value="372">OOParts</option>
	<option value="72">Ouya</option>
	<option value="417">Palm OS</option>
	<option value="142">PC-50X Family</option>
	<option value="125">PC-8801</option>
	<option value="149">PC-98</option>
	<option value="128">PC Engine SuperGrafx</option>
	<option value="274">PC-FX</option>
	<option value="6">PC (Microsoft Windows)</option>
	<option value="95">PDP-1</option>
	<option value="96">PDP-10</option>
	<option value="108">PDP-11</option>
	<option value="103">PDP-7</option>
	<option value="97">PDP-8</option>
	<option value="117">Philips CD-i</option>
	<option value="110">PLATO</option>
	<option value="381">Playdate</option>
	<option value="308">Playdia</option>
	<option value="7">PlayStation</option>
	<option value="8">PlayStation 2</option>
	<option value="9">PlayStation 3</option>
	<option value="48">PlayStation 4</option>
	<option value="167">PlayStation 5</option>
	<option value="38">PlayStation Portable</option>
	<option value="46">PlayStation Vita</option>
	<option value="165">PlayStation VR</option>
	<option value="390">PlayStation VR2</option>
	<option value="377">Plug & Play</option>
	<option value="441">PocketStation</option>
	<option value="166">Pokémon mini</option>
	<option value="306">Satellaview</option>
	<option value="106">SDS Sigma 7</option>
	<option value="30">Sega 32X</option>
	<option value="78">Sega CD</option>
	<option value="35">Sega Game Gear</option>
	<option value="64">Sega Master System/Mark III</option>
	<option value="29">Sega Mega Drive/Genesis</option>
	<option value="339">Sega Pico</option>
	<option value="32">Sega Saturn</option>
	<option value="84">SG-1000</option>
	<option value="374">Sharp MZ-2200</option>
	<option value="77">Sharp X1</option>
	<option value="121">Sharp X68000</option>
	<option value="406">Sinclair QL</option>
	<option value="373">Sinclair ZX81</option>
	<option value="237">Sol-20</option>
	<option value="163">SteamVR</option>
	<option value="58">Super Famicom</option>
	<option value="19">Super Nintendo Entertainment System</option>
	<option value="124">SwanCrystal</option>
	<option value="44">Tapwave Zodiac</option>
	<option value="155">Tatung Einstein</option>
	<option value="129">Texas Instruments TI-99</option>
	<option value="156">Thomson MO5</option>
	<option value="126">TRS-80</option>
	<option value="151">TRS-80 Color Computer</option>
	<option value="86">TurboGrafx-16/PC Engine</option>
	<option value="150">Turbografx-16/PC Engine CD</option>
	<option value="138">VC 4000</option>
	<option value="70">Vectrex</option>
	<option value="87">Virtual Boy</option>
	<option value="47">Virtual Console (Nintendo)</option>
	<option value="440">Visual Memory Unit / Visual Memory System</option>
	<option value="439">V.Smile</option>
	<option value="415">Watara/QuickShot Supervision</option>
	<option value="82">Web browser</option>
	<option value="5">Wii</option>
	<option value="41">Wii U</option>
	<option value="161">Windows Mixed Reality</option>
	<option value="405">Windows Mobile</option>
	<option value="74">Windows Phone</option>
	<option value="57">WonderSwan</option>
	<option value="123">WonderSwan Color</option>
	<option value="11">Xbox</option>
	<option value="12">Xbox 360</option>
	<option value="49">Xbox One</option>
	<option value="169">Xbox Series X|S</option>
	<option value="240">Zeebo</option>
	<option value="26">ZX Spectrum</option>