{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/all.css') }}">
	<!-- General use utils -->
	<script type="application/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
	<!-- Game library utils -->
	<script type="application/javascript" src="{{ url_for('static', filename='js/libraryUtils.js') }}"></script>
    <header>
        <br>
        <br>
        <h4>Here's where the magic happens! Based on your library, we can give you a selection of games we think you'd like! you can easily add them to your library or wishlist!</h4>
        <br>
        <br>
    </header>
    <section class="recPage">
		<table class="centered recTable">
            <tr>
                <th><h1>Recommendation Page!</h1></th>
            </tr>
            <tr>
                <th><h2>See our top picks for you!</h2></th>
            </tr>
			<tr>
				<td colspan="2"><button class="recommendationButton" onclick="postRecommendations()" id="submitButton">Play This!</button></td>
			</tr>
		</table>
		
		<br>
		
		
		<!-- Processing div. Shown after submitting and hidden when fetch completes -->
		<div id='resultsPending' style='display: none;'>
			<h2>Processing...</h2>
		</div>
	
		<!-- Results table - filled dynamically -->
		<table class="searchResults centered">
			<tr id='resultsHeader' style='display: none;'>
				<th>Cover Art</th>
				<th>Game Title</th>
				<th>User Action</th>
			</tr>
			<tbody id='results'>
			</tbody>
		</table>
        
    </section>

    <script type="application/javascript">
    
        // Populates the user's ID list of games.
		window.onload = function() {
            setIDArrays('{{ library_id_list }}', '{{ wishlist_id_list }}');
        }

        /**
         * Post the recommendations for the user to get their content.
         */
        async function postRecommendations() {

            // Shows the "processing" text to show the page isnt just unresponsive.
            ID('resultsPending').style.display = 'block';

            // Returns a JSON response from the AJAX query
            // The dataIn is null as recommendCall has no required data from the client.
			var response = await sendAjaxQuery('/recommendCall', null, false);

            var x = "";

            for(var i = 0; i < response.length; i++) {

                // The current item in the return array
                var game = response[i];

                // x is the string used to create the table
                x += "<tr>";
                
                // Cover art image
                cover_url = "";
                if(typeof game['cover'] != "undefined" && game['cover'] != null) {
                    cover_url = "https://images.igdb.com/igdb/image/upload/t_cover_big/" + game['cover'] + ".jpg";
                } else {
                    // 'Missing Image' filler incase there is no cover art
                    cover_url = "https://t4.ftcdn.net/jpg/00/89/55/15/360_F_89551596_LdHAZRwz3i4EM4J0NHNHy2hEUYDfXc0j.jpg";
                }
                
                // Create the URL for cover art. Width is being hardcoded for now
                x += "<td><img src='" + cover_url + "' alt ='Cover Art' </td>";
                
                x += "<td>" + game['title'] + "</td>";

                // Starts the buttons column
                x += "<td>";

                // Library Button
                // Sets the ID's of the button to be lib_/wish_ + igdb-id to make each unique
                // Starts the button
                var name = game['title'].replace(/'/g, "\\'");
                x += "<button class=\"addRemoveButton\" id=\"lib_" + game['id'] + "\" onclick=\"libButtonPress(" + game['id'] + ",'" + name + "')\">";
                
                    // Check if the user has a library and if the game is in it, if so, put respective text
                if (LIBRARY_IDS_ARR.includes(game['id'])) {
                    x += "Remove from Library";
                } else {
                    x += "Add to Library";
                }
                // Close the button
                x += "</button><br>";
                    
                // Wishhlist button
                x += "<button class=\"addRemoveButton\" id=\"wish_" + game['id'] + "\" onclick=\"wishButtonPress(" + game['id'] + ",'" + name + "')\">";
                // Check if the user has this game in their wishlist and put in the respective text
                if (WISHLIST_IDS_ARR.includes(game['id'])) {
                    x += "Remove from Wishlist";
                } else {
                    x += "Add to Wishlist";
                }
                // Close the button
                x += "</button><br>";
                x += "</td>";

                // Close the row
                x += "</tr>";
            }
			// 'results' is a tbody tag. Only rows are needed to be added to it
			document.getElementById("results").innerHTML = x;

            // Hide the pending div and show the table header since fetch is done
            ID('resultsPending').style.display = 'none';
            ID('resultsHeader').style.display = 'table-row';

        }

        	
		/**
	  	 * Called when a "Add to Library" button is pressed. Calls addToLibrary then updates the buttons
		 */
		function libButtonPress(id, name) {
			response = addToLibrary(id, name);
			if(response == true) {
				ID('lib_' + id).innerHTML = "Remove from Library";
				ID('wish_' + id).innerHTML = "Add to Wishlist"; // Games added to library are removed from wishlist
			} else {
				ID('lib_' + id).innerHTML = "Add to Library";
			}
		}

        /**
         * Called when a "Add to Wishlist" button is pressed. Calls addToWishlist then updates the buttons
         */
        function wishButtonPress(id, name) {
            response = addToWishlist(id, name);
			if(response == true) {
				ID('wish_' + id).innerHTML = "Remove from Wishlist";
			} else if (response == null) {
				alertUser(name + " is already in your library!");
			} else {
				ID('wish_' + id).innerHTML = "Add to Wishlist";
			}
        }

    </script>
{% endblock %}