{% extends 'base.html' %}

{% block content %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/all.css') }}">
	<!-- General use utils -->
	<script type="application/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
	<!-- Game library utils -->
	<script type="application/javascript" src="{{ url_for('static', filename='js/libraryUtils.js') }}"></script>

    <div>
		<table class="centered">
			<!-- Text input for game title search -->
			<tr><td colspan='2'><input type="text" id ='nameInput' placeholder="Game Title" name="nameInput" class="center"></td></tr>
			
			<tr>
				<!-- Drop down input for genre search. Values = IGDB ID for genre-->
				<td><select id="genreInput" name="genreInput">
					<option value="any">Any Genre</option>
					<option value="31">Adventure</option>
					<option value="33">Arcade</option>
					<option value="35">Card & Board Game</option>
					<option value="4">Fighting</option>
					<option value="25">Hack and Slash/Beat em' Up</option>
					<option value="32">Indie</option>
					<option value="36">MOBA</option>
					<option value="7">Music</option>
					<option value="30">Pinball</option>
					<option value="8">Platform</option>
					<option value="2">Point-and-Click</option>
					<option value="9">Puzzle</option>
					<option value="26">Quiz/Trivia</option>
					<option value="10">Racing</option>
					<option value="11">Real Time Strategy (RTS)</option>
					<option value="12">Role-playing (RPG)</option>
					<option value="5">Shooter</option>
					<option value="13">Simulator</option>
					<option value="14">Sport</option>
					<option value="15">Strategy</option>
					<option value="24">Tactical</option>
					<option value="16">Turn-based strategy (TBS)</option>
					<option value="34">Visual Novel</option>
					<option value="audi">Audi</option>
				</select></td>
				
				<!-- Drop down for platform. VERY long. Options moved to platformOptions.html --> 
				<td><select id="platformInput" name="platformInput">
					{% include 'platformOptions.html' %}
				</select></td>
			</tr>
			<tr>
				<td colspan="2"></td>
			</tr>
		</table>
		<button onclick="postSearch()" id="searchButton" class="searchButton">Search</button>
		<br>
		
		
		<!-- Processing div. Shown after submitting and hidden when fetch completes -->
		<div id='resultsPending' style='display: none;'>
			<h2>Processing...</h2>
		</div>
	
		<!-- Results table - filled dynamically -->
		<table class="searchResults centered">
			<tr id='resultsHeader' style='display: none;'>
				<th>Cover Art</th>
				<th>Game Title</th>
				<th>Genre</th>
				<th>Release Platforms</th>
				{% if current_user.is_authenticated  %}<th>User Action</th>{% endif %}
			</tr>
			<tbody id='results'>
			</tbody>
		</table>
        
    </div>
	
	<script type="application/javascript">
	
		// Populates the user's ID list of games.
		window.onload = function() {
            setIDArrays('{{ library_id_list }}', '{{ wishlist_id_list }}');
        }

		/**
		* Checks to see if the given filter is being used and if so, return a string for
		* appending to the filter instead of starting a new one
		*
		* @param {boolean} filter - The filter variable to check if being used
		* @return {string} Returns the string to be added in response to checking the filter status
		*/
		function checkFilter(filter) {
			if(filter) {
				return [true, " & "];
			} else {
				return [true, "where "];
			}
		}
	
		/**
		* Sends a query to IGDB then processes the JSON response into viewable content
		*/
		async function postSearch() {

			// Returns the fetch with response already formatted to JSON
			var fetchResponse = await sendQuery('games', buildQueryString())
			
			// Hide the pending div and show the table header since fetch is done
			ID('resultsPending').style.display = 'none';
			ID('resultsHeader').style.display = 'table-row';
			
			// Uncomment to console log the response
			//console.log(fetchResponse);
				
			// x is the string used to create the table
			var x = "";
			// Pass through all results in the query
			for (i = 0; i < fetchResponse.length; i++) {
				// Every result needs its own row. Make sure using  'x +=' to not overwrite the string
				x += "<tr>";
				
				// Cover art image
				cover_url = "";
				if(typeof fetchResponse[i].cover != "undefined") {
					cover_url = "https://images.igdb.com/igdb/image/upload/t_cover_big/" + fetchResponse[i].cover.image_id + ".jpg";
				} else {
					// 'Missing Image' filler incase there is no cover art
					cover_url = "https://t4.ftcdn.net/jpg/00/89/55/15/360_F_89551596_LdHAZRwz3i4EM4J0NHNHy2hEUYDfXc0j.jpg";
				}
				
				// Create the URL for cover art. Width is being hardcoded for now
				x += "<td><img src='" + cover_url + "' alt ='Cover Art' </td>";
				
				x += "<td>" + fetchResponse[i].name + "</td>";
				
				// Sub tables in results table's cell
				x += "<td>" + createTableFromVal(fetchResponse[i].genres, 'name') + "</td>";
				x += "<td>" + createTableFromVal(fetchResponse[i].platforms, 'name') + "</td>";
				
				// If the user is logged in, then run the code for the user actions column
				{% if current_user.is_authenticated %}

					// Starts the buttons column
					x += "<td>";

					// Library Button
					// Sets the ID's of the button to be lib_/wish_ + igdb-id to make each unique
					// Starts the buttons
					x += "<button id='lib_" + fetchResponse[i].id + "' onclick='libButtonPress(" + fetchResponse[i].id + ",\"" + fetchResponse[i].name + "\")'>";
					// Check if the user has a library and if the game is in it, if so, put respective text
					if (LIBRARY_IDS_ARR.includes(fetchResponse[i].id)) {
						x += "Remove from Library";
					} else {
						x += "Add to Library";
					}
					// Close the button
					x += "</button><br>";
					
					// Wishhlist button
					x += "<button id='wish_" + fetchResponse[i].id + "'onclick='wishButtonPress(" + fetchResponse[i].id + ",\"" + fetchResponse[i].name + "\")'>";
					// Check if the user has this game in their wishlist and put in the respective text
					if (WISHLIST_IDS_ARR.includes(fetchResponse[i].id)) {
						x += "Remove from Wishlist";
					} else {
						x += "Add to Wishlist";
					}
					// Close the button
					x += "</button><br>";
					x += "</td>";

				{% endif %}
					
				// Close the row
				x += "</tr>";
			}
			
			// 'results' is a tbody tag. Only rows are needed to be added to it
			document.getElementById("results").innerHTML = x;
			
		}
	
		/**
	  	 * Called when a "Add to Library" button is pressed. Calls addToLibrary then updates the buttons
		 */
		function libButtonPress(id, name) {
			response = addToLibrary(id, name);
			if(response == true) {
				ID('lib_' + id).innerHTML = "Remove from Library";
				ID('wish_' + id).innerHTML = "Add to Wishlist"; // Games added to library are removed from wishlist
			} else {
				ID('lib_' + id).innerHTML = "Add to Library";
			}
		}

		/**
	  	 * Called when a "Add to Wishlist" button is pressed. Calls addToWishlist then updates the buttons
		 */
		function wishButtonPress(id, name) {
			response = addToWishlist(id, name);
			if(response == true) {
				ID('wish_' + id).innerHTML = "Remove from Wishlist";
			} else if (response == null) {
				alert(name + " is already in your library!");
			} else {
				ID('wish_' + id).innerHTML = "Add to Wishlist";
			}
		}

		/**
		* Sends a query to the IGDB database using AWS proxy. 
		* Requires an end point and body header.
		*
		* IGDB endpoints: https://api-docs.igdb.com/#endpoints
		* 
		* @param {string} endpoint - End of URL to designate API endpoint
		* @bodyInput {string} bodyInput - 'body' header for POST 
		* @return {string} JSON formatted response from the fetch request
		*/
		var API_KEY = '{{ api_key | string }}';
		function sendQuery(endpoint, bodyInput) {
	
			// IGDB fetch info via proxy through AWS
			
			const options = {
			  method: 'POST',
			  headers: {'x-api-key': API_KEY },
			  body: bodyInput
			};

			// Toggles the 'pending' space from showing
			ID('resultsPending').style.display = 'block';

			// Return fetch using provided body and endpoint then grab JSON data.
			return fetch('https://5jmkis1ked.execute-api.us-west-2.amazonaws.com/production/v4/' + endpoint, options)
				.then(response => response.json());
		
		}
		
		/**
		* Creates a query string based on pulling the input boxes, determining if they have data,
		* and applying them as filtering options for the search. Functionality uses data from this page,
		* do NOT re-use blindly without checking the various inputs.
		*
		* @return {string} Query string for IGDB database POST request
		*/
		function buildQueryString() {
		
			// Start the construction of the string
			query = "fields name,genres.name,platforms.name,cover.image_id;limit 50;";
			// Tracks if the 'where' function is being used to know if '&' is needed
			hasFilter = false;
		
			// Name input, uses the 'search' function
			if(ID('nameInput').value != "" ) {
				query += 'search "' + ID('nameInput').value + '";'
			}
			
			// Genre input. Used as a template for other inputs
			if(ID('genreInput').value != 'any') {
				
				// Checks and sets the filter then appends to query
				[hasFilter, x] = checkFilter(hasFilter);
				query += x;
				
				query += 'genres = ' + ID('genreInput').value;
			}
			
			// Platform input
			if(ID('platformInput').value != 'any') {
				
				[hasFilter, x] = checkFilter(hasFilter);
				query += x;
				
				// Extra () designates all options with ID present + anything else
				// Otherwise non-exclusives (ex: minecraft) wont show up
				query += 'platforms = (' + ID('platformInput').value + ')';
			}
			
			// Finish the filter 'where' statement
			if(hasFilter) { query += ";"; }
		
			return query;
		
		}

		// Adds the 'press enter to search' functionality to the name input
		ID('nameInput').addEventListener("keydown", function(e) {
			if (e.code == "Enter") {
				postSearch();
			}
		});

	</script>
	
{% endblock %} 