{% extends 'base.html' %}

{% block content %}

	<!-- Bringing in jQuery for better AJAX functionality -->
	<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/all.css') }}">

    <div>
        <h2> Search page is working! </h2>
		<table class="centered">
			<!-- Text input for game title search -->
			<tr><td colspan='2'><input type="text" id ='nameInput' placeholder="Game Title" name="nameInput" class="center"></td></tr>
			
			<tr>
				<!-- Drop down input for genre search. Values = IGDB ID for genre-->
				<td><select id="genreInput" name="genreInput">
					<option value="any">Any Genre</option>
					<option value="31">Adventure</option>
					<option value="33">Arcade</option>
					<option value="35">Card & Board Game</option>
					<option value="4">Fighting</option>
					<option value="25">Hack and Slash/Beat em' Up</option>
					<option value="32">Indie</option>
					<option value="36">MOBA</option>
					<option value="7">Music</option>
					<option value="30">Pinball</option>
					<option value="8">Platform</option>
					<option value="2">Point-and-Click</option>
					<option value="9">Puzzle</option>
					<option value="26">Quiz/Trivia</option>
					<option value="10">Racing</option>
					<option value="11">Real Time Strategy (RTS)</option>
					<option value="12">Role-playing (RPG)</option>
					<option value="5">Shooter</option>
					<option value="13">Simulator</option>
					<option value="14">Sport</option>
					<option value="15">Strategy</option>
					<option value="24">Tactical</option>
					<option value="16">Turn-based strategy (TBS)</option>
					<option value="34">Visual Novel</option>
					<option value="audi">Audi</option>
				</select></td>
				
				<!-- Drop down for platform. VERY long. Options moved to platformOptions.html --> 
				<td><select id="platformInput" name="platformInput">
					{% include 'platformOptions.html' %}
				</select></td>
			</tr>
			<tr>
				<td colspan="2"><button onclick="postSearch()" id="searchButton">Search</button></td>
			</tr>
		</table>
		
		<br>
		
		
		<!-- Processing div. Shown after submitting and hidden when fetch completes -->
		<div id='resultsPending' style='display: none;'>
			<h2>Processing...</h2>
		</div>
	
		<!-- Results table - filled dynamically -->
		<table class="searchResults centered">
			<tr id='resultsHeader' style='display: none;'>
				<th>Cover Art</th>
				<th>Game Title</th>
				<th>Genre</th>
				<th>Release Platforms</th>
				{% if current_user.is_authenticated  %}<th>User Action</th>{% endif %}
			</tr>
			<tbody id='results'>
			</tbody>
		</table>
        
    </div>
	
	<script type="application/javascript">
			
		// Create logged in user's game library from the string passed to the page
		// Occurs on window load 
		var LIBRARY_IDS_ARR = [];
		window.onload = function() {
			var game_ids_string = '{{ library_id_list }}' || "";
			// Split the user's game library ID's string into an array
			if(game_ids_string && game_ids_string !== "") {
				LIBRARY_IDS_ARR = game_ids_string.split("|")
			}
			// Convert all the string ID's to int's if there is games in the user's library
			for(i = 0; i < LIBRARY_IDS_ARR.length; i++) {
				LIBRARY_IDS_ARR[i] = parseInt(LIBRARY_IDS_ARR[i]);
			}
		}


		/**
		* Function to short-hand the getElementById function
		* @returns HTML element
		*/
		var ID = function(elementID) {
			return document.getElementById(elementID);
		}
		
	
		/**
		* Checks to see if the given filter is being used and if so, return a string for
		* appending to the filter instead of starting a new one
		*
		* @param {boolean} filter - The filter variable to check if being used
		* @return {string} Returns the string to be added in response to checking the filter status
		*/
		function checkFilter(filter) {
			if(filter) {
				return [true, " & "];
			} else {
				return [true, "where "];
			}
		}
	
		/**
		* Sends a query to IGDB then processes the JSON response into viewable content
		*/
		
		async function postSearch() {

			// Returns the fetch with response already formatted to JSON
			fetchResponse = await sendQuery('games', buildQueryString())
			
			// Hide the pending div and show the table header since fetch is done
			ID('resultsPending').style.display = 'none';
			ID('resultsHeader').style.display = 'table-row';
			
			// Uncomment to console log the response
			//console.log(fetchResponse);
				
			// x is the string used to create the table
			var x = "";
			// Pass through all results in the query
			for (i = 0; i < fetchResponse.length; i++) {
				// Every result needs its own row. Make sure using  'x +=' to not overwrite the string
				x += "<tr>";
				
				// Cover art image
				cover_url = "";
				if(typeof fetchResponse[i].cover != "undefined") {
					cover_url = "https://images.igdb.com/igdb/image/upload/t_cover_big/" + fetchResponse[i].cover.image_id + ".jpg";
				} else {
					// 'Missing Image' filler incase there is no cover art
					cover_url = "https://t4.ftcdn.net/jpg/00/89/55/15/360_F_89551596_LdHAZRwz3i4EM4J0NHNHy2hEUYDfXc0j.jpg";
				}
				
				// Create the URL for cover art. Width is being hardcoded for now
				x += "<td><img src='" + cover_url + "' alt ='Cover Art' </td>";
				
				x += "<td>" + fetchResponse[i].name + "</td>";
				
				// Sub tables in results table's cell
				x += "<td>" + createTableFromVal(fetchResponse[i].genres, 'name') + "</td>";
				x += "<td>" + createTableFromVal(fetchResponse[i].platforms, 'name') + "</td>";
				
				{% if current_user.is_authenticated  %}
				// Starts the buttons column
				x += "<td>";

				// Library Button
				// Sets the ID's of the button to be lib_/wish_ + igdb-id to make each unique
				// Starts the button
				x += "<button id='lib_" + fetchResponse[i].id + "' onclick='addToLibrary(" + fetchResponse[i].id + ",\"" + fetchResponse[i].name + "\")'>";
				// Check if the user has a library and if the game is in it, if so, put respective text
				if (LIBRARY_IDS_ARR.includes(fetchResponse[i].id)) {
					x += "Remove from Library";
				} else {
					x += "Add to Library";
				}
				// Close the button
				x += "</button><br>";
				
				// Wishhlist button
				x += "<button id='wish_" + fetchResponse[i].id + "'onclick='addToWishlist(" + fetchResponse[i].id + ")'>Add to Wishlist</input>";
				x += "</td>";

				{% endif %}
					
				// Close the row
				x += "</tr>";
			}
			
			// 'results' is a tbody tag. Only rows are needed to be added to it
			document.getElementById("results").innerHTML = x;
			
		}
	
		/**
		* Creates a table of arr's data points, using valString to 
		* specify an index for data to fill the cell with. Used to create
		* a table from a JSON array containing objects with fields.
		*
		* @param {array} arr - The array to be passed in
		* @param {string} valString - The index of the array item to pull data from
		* @return {string} String containing an entire table with cells formed from 'arr' content's specified index 
		*/
		function createTableFromVal(arr, valString) {
		
			tableString = "<table>";
			// Doesnt pull data from empty endpoints (such as no platform)
			if(typeof arr != "undefined") {
				// Loop through each value and add a table cell
				counter = arr.length;
				for (j = 0; j < counter; j++) {
					tableString += "<tr>";
					tableString += "<td>" + arr[j][valString] + "</td></tr>";
				}
				tableString += "</table>";
			} else {
				// Add a filler 'No value' so there is no empty cells
				tableString += "<tr><td>No value</td></tr></table>";
			}
			
			return tableString;
		
		}
	
		/**
		* Sends a query to the IGDB database using AWS proxy. 
		* Requires an end point and body header.
		*
		* IGDB endpoints: https://api-docs.igdb.com/#endpoints
		* 
		* @param {string} endpoint - End of URL to designate API endpoint
		* @bodyInput {string} bodyInput - 'body' header for POST 
		* @return {string} JSON formatted response from the fetch request
		*/
		var API_KEY = '{{ api_key | string }}';
		function sendQuery(endpoint, bodyInput) {
	
			// IGDB fetch info via proxy through AWS
			
			const options = {
			  method: 'POST',
			  headers: {'x-api-key': API_KEY },
			  body: bodyInput
			};

			// Toggles the 'pending' space from showing
			ID('resultsPending').style.display = 'block';

			// Return fetch using provided body and endpoint then grab JSON data.
			return fetch('https://5jmkis1ked.execute-api.us-west-2.amazonaws.com/production/v4/' + endpoint, options)
				.then(response => response.json());
		
		}
		
		/**
		* Creates a query string based on pulling the input boxes, determining if they have data,
		* and applying them as filtering options for the search.
		*
		* @return {string} Query string for IGDB database POST request
		*/
		function buildQueryString() {
		
			// Start the construction of the string
			query = "fields name,genres.name,platforms.name,cover.image_id;limit 50;";
			// Tracks if the 'where' function is being used to know if '&' is needed
			hasFilter = false;
		
			// Name input, uses the 'search' function
			if(ID('nameInput').value != "" ) {
				query += 'search "' + ID('nameInput').value + '";'
			}
			
			// Genre input. Used as a template for other inputs
			if(ID('genreInput').value != 'any') {
				
				// Checks and sets the filter then appends to query
				[hasFilter, x] = checkFilter(hasFilter);
				query += x;
				
				query += 'genres = ' + ID('genreInput').value;
			}
			
			// Platform input
			if(ID('platformInput').value != 'any') {
				
				[hasFilter, x] = checkFilter(hasFilter);
				query += x;
				
				// Extra () designates all options with ID present + anything else
				// Otherwise non-exclusives (ex: minecraft) wont show up
				query += 'platforms = (' + ID('platformInput').value + ')';
			}
			
			// Finish the filter 'where' statement
			if(hasFilter) { query += ";"; }
		
			return query;
		
		}

		/**
		 * Adds the specific game to the user's wishlist. 
		 * @param {int} id - IGDB of the game wanting to be added
		 */
		async function addToWishlist(id) {

			// If game doesnt exist in library, add it
			sendAjaxQuery('/update_library', 'id=' + id);

			var response = sendAjaxQuery('/add_to_wishlist', 'id=' + id);
			console.log("WISHLISTED: " + response);
		}

		/**
		 * Adds the specific game to the user's wishlist. 
		 * @param {int} id - IGDB of the game wanting to be added
		 */
		async function addToLibrary(id, name) {
			
			// If game doesnt exist in library, add it
			sendAjaxQuery('/update_library', 'id=' + id + "&title=" + name);

			// Current check to see if the call is to add to library or remove
			var adding = 'true';
			if(LIBRARY_IDS_ARR.includes(id)) { adding = 'false'; }

			// Build query string to send to ajax query
			var queryString = 'id=' + id + '&adding=' + adding;
			
			// Send ajax and get the result
			var response = sendAjaxQuery('/add_to_library', queryString);

			// Modify the contents of the button to show add/remove based on response
			// Also add/remove the ID to the Library list. This prevents a need for a page refresh
			if(response['added']) {
				ID('lib_' + response['id']).innerHTML = "Remove from Library";
				// Add the ID from the list of session list of ID's
				LIBRARY_IDS_ARR.push(id);
			} else {
				ID('lib_' + response['id']).innerHTML = "Add to Library";
				// Remove the ID from the list of session list of ID's
				LIBRARY_IDS_ARR.splice(LIBRARY_IDS_ARR.indexOf(id), 1);
			}
		}
		
		/**
		 * Uses AJAX to send a POST request to the flask backend at a specific URL with a given data.
		 * Allows for a POST request without refreshing the page.
		 * @param {string} urlIn - The URL to send the POST request to
		 * @param {string} dataIn - The data string in to be sent in the post request. Formatted in standard URL-encoded notation
		 * @param {bool} debug - Boolean to display success/error outputs.
		 * @return {string} Returns the response, allowing it to be checked or compared
		 */
		function sendAjaxQuery(urlIn, dataIn) {
			// Uses AJAX to send a POST request to flask w/ the game ID selected
			var r;
			$.ajax({
				url: urlIn, // Param 1
				data: dataIn, // Param 2
				dataType: 'json', // Data is returned as a json array. Parse as needed
				type: 'POST',
				async: false, // Forced async to be disabled to allow for returning the response
				success: function(response){
					r = response;
				},
				error: function(error){
					r = response;
				}
			});
			return r;
		}

		// Adds the 'press enter to search' functionality to the name input
		ID('nameInput').addEventListener("keydown", function(e) {
			if (e.code == "Enter") {
				postSearch();
			}
		});

	</script>
	
{% endblock %} 