{% extends "base.html" %}

{% block content %}
<!--this could be made into a tab in the user profile page in css-->

    <style>
        .box_art {
            width: 100px;
        }
    </style>

    <h3>Wishlist</h3>
    <section class="col" id="library">
        <table>
           {% for wish in w_list %}
           <tr>
                <div class="col__item">
                    <td> <!-- Cover art for the game -->
                        {% if wish.cover %}
                            <img class="box_art" src="{{ "https://images.igdb.com/igdb/image/upload/t_cover_small/" ~ wish.cover ~ ".jpg" }}">
                        {% else %}
                            <img class="box_art" src="https://t4.ftcdn.net/jpg/00/89/55/15/360_F_89551596_LdHAZRwz3i4EM4J0NHNHy2hEUYDfXc0j.jpg">
                        {% endif %}<br>
                    </td>

                    <td>
                        {{ wish.title }}<br>
                    </td>
                    
                    <td> <!-- userWishlist.py is dependant on this code, do not alter -->
                        <form action="#" method="POST">
                        <input class= "addRemoveButton" type="submit" name={{ wish.id }} value="Move to Library">
                        </form>
                    </td>
                    <td>
                        <form action="#" method="POST">
                        <input class= "addRemoveButton" type="submit" name={{ wish.id }} value="Remove from Wishlist">
                        </form>
                    </td>
                </div>
                <br><br>
           </tr>
            {% endfor %} 
        </table>
    </section>



{% endblock %}