@import "../abstracts/variables";

.searchButton
{
    display: inline-block;
    @include button($width: 120px,
                    $height: 40px,
                    $font_weight: 800,
                    $font_size: 19px,
                    $letter_space: 2.0px);
}
button
{
    background: $color14; 
    color: $color6;    
}
button:hover 
{
    background: $color13; 
}


select
{
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    background: $color13 !important;
    color: $color7 !important;
    width: 75% !important;
}

.addRemoveButton
{
    @include button($width: 200px,
                    $height: 40px,
                    $font_weight: 800,
                    $font_size: 19px,
                    $letter_space: 2.0px);
}

.recommendationButton
{   
    float: center !important;
    @include button($width: 150px,
                    $height: 40px,
                    $font_weight: 800,
                    $font_size: 19px,
                    $letter_space: 2.0px);
}

.updateButton
{
    @include button($width: 100px,
                    $height: 30px,
                    $font_weight: 800,
                    $font_size: 19px,
                    $letter_space: 2.0px);
}
