@import "../abstracts/variables";
@import "../abstracts/mixins";

button
{
    background: $button; 
    color: $main;    
}
button:hover 
{
    background: $back; 
}

select
{
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    background: $field !important;
    color: $main !important;
    width: 75% !important;
}

.searchButton
{
    display: inline-block;
    @include button($width: 7.5rem,
                    $height: 2.5rem,
                    $font_weight: 600,
                    $font_size: 1.1875rem,
                    $letter_space: 0.125rem);
}

.addRemoveButton
{
    @include button($width: 15rem,
                    $height: 2.5rem,
                    $font_weight: 800,
                    $font_size: 1rem,
                    $letter_space: 0.125rem);
    margin-right: 0.3rem;
}

.recommendationButton
{   
    @include button($width: 9.375rem,
                    $height: 2.5rem,
                    $font_weight: 800,
                    $font_size: 1.1875rem,
                    $letter_space: 0.125rem);
    float: center !important;
}

.updateButton
{
    @include button($width: 6.25rem,
                    $height: 1.875rem,
                    $font_weight: 800,
                    $font_size: 1.1875rem,
                    $letter_space: 0.125rem);

    float: center !important;
    text-align: center !important;
    vertical-align: middle !important;
}
