@import "../abstracts/variables";
@import "../abstracts/mixins";

button
{
    background: $button; 
    color: $main;    
}
button:hover 
{
    background: $back; 
}

select
{
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    background: $back !important;
    color: $field !important;
    width: 75% !important;
}

.searchButton
{
    display: inline-block;
    @include button($width: 120px,
                    $height: 40px,
                    $font_weight: 600,
                    $font_size: 19px,
                    $letter_space: 2.0px);
}

.addRemoveButton
{
    @include button($width: 250px,
                    $height: 40px,
                    $font_weight: 800,
                    $font_size: 19px,
                    $letter_space: 2.0px);
}

.recommendationButton
{   
    @include button($width: 150px,
                    $height: 40px,
                    $font_weight: 800,
                    $font_size: 19px,
                    $letter_space: 2.0px);
    float: center !important;
}

.updateButton
{
    @include button($width: 100px,
                    $height: 30px,
                    $font_weight: 800,
                    $font_size: 19px,
                    $letter_space: 2.0px);

    float: center !important;
    text-align: center !important;
    vertical-align: middle !important;
}
